/** { 
    box-sizing: border-box; 
} */

.heading{
    padding:10px;
}
.paragraph{
    padding:10px;
}
.welcome-section{
    margin-top: 250px;
}

/*.bdg-sect{
    padding-top:10px;
    padding-bottom:10px;
    font-family:Helvetica, serif;
    background-color:#fafafa;
    opacity:.5;
    margin:250px 100px 0 100px;
}*/

body{
    background-color: black;
    background-image:url(../images/silveronblack.png);
    background-repeat:no-repeat;
    background-position:center top;
    background-attachment:scroll;
    background-size:auto;
    padding-top: 25em;

    margin: 0;
}


#welcome-msg-hdr{
    float:none;
    top:auto;
    font-family:Brush Script MT, sans-serif;
    font-size:72px;
    font-weight:500;
    display:block;
    text-align:center;
    color:#1454da;
    }
#welcome-msg-text{
    font-family:Trebuchet MS, Helvetica, sans-serif;
    font-size:26px;
    text-align:center;
    color:#1454da;
    }
/* #if58{
    opacity:1;
    margin:250px 100px 0 100px;
        }
        */